{% extends 'base.html.twig' %}

{% block title %}Liste des calendriers{% endblock %}

{% block body %}
    <h1>Liste des calendriers</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Badge</th>
                <th>Title</th>
                <th>Classname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendar in calendars %}
            <tr>
                <td>{{ calendar.id }}</td>
                <td>{{ calendar.date ? calendar.date|date('Y-m-d') : '' }}</td>
                <td>{{ calendar.badge ? 'Yes' : 'No' }}</td>
                <td>{{ calendar.title }}</td>
                <td>{{ calendar.classname }}</td>
                <td>
                    <a href="{{ path('calendar_show', {'id': calendar.id}) }}">Montrer</a>
                    <a href="{{ path('calendar_edit', {'id': calendar.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendar_new') }}">Nouveau</a>
{% endblock %}
