{% extends 'base.html.twig' %}

{% block title %}Liste des types d'organisation{% endblock %}

{% block body %}
    <h1>Liste des types d'organisation</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation_organization in prestation_organizations %}
            <tr>
                {# <td>{{ prestation_organization.id }}</td> #}
                <td>{{ prestation_organization.description }}</td>
                <td>
                    <a href="{{ path('prestation_organization_show', {'id': prestation_organization.id}) }}">Montrer</a>
                    <a href="{{ path('prestation_organization_edit', {'id': prestation_organization.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestation_organization_new') }}">Nouveau</a>
{% endblock %}
