{% extends 'base.html.twig' %}

{% block title %}Organisation{% endblock %}

{% block body %}
    <h1>Organisation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation_organization.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ prestation_organization.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prestation_organization_index') }}">retour à la liste</a>

    <a href="{{ path('prestation_organization_edit', {'id': prestation_organization.id}) }}">Modifier</a>

    {{ include('prestation_organization/_delete_form.html.twig') }}
{% endblock %}
