{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Catégories</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_category in user_categories %}
            <tr>
                {# <td>{{ user_category.id }}</td> #}
                <td>{{ user_category.title }}</td>
                <td>
                    <a href="{{ path('user_category_show', {'id': user_category.id}) }}">Montrer</a>
                    <a href="{{ path('user_category_edit', {'id': user_category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_category_new') }}">Nouveau</a>
{% endblock %}
