{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ user_category.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_category_index') }}">retour à la liste</a>

    <a href="{{ path('user_category_edit', {'id': user_category.id}) }}">Modifier</a>

    {{ include('user_category/_delete_form.html.twig') }}
{% endblock %}
