{% extends 'base.html.twig' %}

{% block title %}Liste des jauges{% endblock %}

{% block body %}
    <h1>Liste des jauges</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prestation_gauge in prestation_gauges %}
            <tr>
                <td>{{ prestation_gauge.id }}</td>
                <td>{{ prestation_gauge.description }}</td>
                <td>
                    <a href="{{ path('prestation_gauge_show', {'id': prestation_gauge.id}) }}">Montrer</a>
                    <a href="{{ path('prestation_gauge_edit', {'id': prestation_gauge.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prestation_gauge_new') }}">Nouveau</a>
{% endblock %}
