{% extends "template.html.twig" %}

{% block main %}

    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="{{ asset('img/apple-touch-icon-60x60.png') }}" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a class="nav-link" href="{{ path("app_agenda") }}">Agenda</a></li>
                    <li><a class="nav-link" href="{{ path("app_dicussion") }}">Discussion</a></li>
                    <li><a class="nav-link" href="{{ path("app_documents") }}">Documents</a></li>
                {% else %}
                    <li><a class="nav-link" href="{{ path("app_home") }}">Biographie</a></li>
                    <li><a class="nav-link" href="{{ path("app_download") }}">Téléchargement</a></li>
                    <li><a class="nav-link" href="{{ path("app_proposition") }}">Demande de prestation</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="operations" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu" aria-labelledby="operations">
                            <a class="dropdown-item" href="{{ path("prestation_index") }}">Prestations</a>
                            <a class="dropdown-item" href="{{ path("user_index") }}">Intervenants</a>
                            <a class="dropdown-item" href="{{ path("user_category_index") }}">Categorie intervenant</a>
                            <a class="dropdown-item" href="{{ path("prestation_organization_index") }}">Type organisation</a>
                            <a class="dropdown-item" href="{{ path("prestation_object_index") }}">Type événement</a>
                            <a class="dropdown-item" href="{{ path("prestation_gauge_index") }}">Jauge</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <div class="form-inline text-white">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-outline-info my-2 my-sm-0" href="{{ path("app_logout") }}" type="button">Déconnexion</a>
                {% else %}
                    <a class="btn btn-outline-info my-2 my-sm-0" href="{{ path("app_login") }}" type="button">Connexion</a>
                {% endif %}
            </div>
        </div>
    </nav>    
    <!-- end navigation bar -->

    <!-- main -->
        {% block body %}{% endblock %}
    <!-- end main -->

    <!-- footer -->
    <footer class="jumbotron jumbotron-fluid text-white bg-dark mt-4 mb-0">
        <div class="container">
            <p class="lead text-align-center"><strong>Up Side Down</strong> Copyright © 2020</p>
        </div>
    </footer>
    <!-- end footer -->

{% endblock %}


